#wiring {
  display: block;
}

#wiring_container {
  width: 100%;
}

#wiring #channels_list {
  margin: 2ex 0px;
  padding: 0px;
}

#wiring .tableCell {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1ex;
}

#wiring .connectableColumn {
  width: 25%;
  vertical-align: top;
}

#wiring .eventColumn, #wiring .slotColumn {
  width: 25%;
  padding: 1ex 20px;
  vertical-align: top;
}

#wiring .connectionColumn {
  width: 13%;
  vertical-align: top;
}

#wiring .inoutColumn {
  width: 24%;
  vertical-align: top;
}

#wiring .title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1ex;
}

#wiring .borderLeftCell {
  border-collapse: collapse;
  padding: 0 0 0 1ex;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #AAA;
  border-right: none;
}

#wiring .columnCell ul input[type="radio"] {
  display: none;
}

#wiring .columnCell ul li {
  padding: 2px;
}

#wiring .columnCell ul li div {
  padding: 2px;
}

.form-row input[type="submit"] {
  background-image: url(/ezweb/images/kgpg.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}

#wiring #newChannelForm {
    text-align: center;
}

#wiring .igadget {
  border: 1px solid orange;
  background: lightyellow;
  margin: 2ex 0px;
  position: relative;
  font-weight: bold;
}

#wiring .igadget .igadgetContent {
  padding: 0px 0px 5px 0px;
  font-weight: normal;
}

#wiring .eventColumn .igadget .igadgetContent div {
  padding: 0px 14px 0px 0px;
  text-align: right;
  position: relative;
  margin: 6px 0px;
}

#wiring .slotColumn .igadget .igadgetContent div {
  padding: 0px 0px 0px 14px;
  text-align: left;
  position: relative;
  margin: 6px 0px;
}

#wiring .igadget.folded .igadgetContent {
  display: none;
}

#wiring .igadget .igadgetContent div.chkItem {
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  background: white;
  padding: 0px;
  top: -8px;
}

#wiring .eventColumn .igadget .igadgetContent .chkItem {
  right: -9px;
}

#wiring .slotColumn .igadget .chkItem {
  left: -9px;
}

#wiring #newChannelForm .addSubmit {
  cursor: pointer; cursor: hand;
  padding: 0px;
  height: 16px;
  width: 16px;
  background: url(/ezweb/js/wiring/add.png);
  border: 0px none;
}

#wiring #channels_list .channel {
  margin: 2ex 1ex; 
  border: 1px solid #525248;
  background: #94a8a8;
  padding: 0px;
  cursor: pointer; cursor: hand;
}

#wiring img {
  margin: 2px;
  vertical-align: middle;
}

#wiring #channels_list .channel .channelContent {
  border-top: 1px solid #525248;
  display: none;
  background: #fcfcde;
}

#wiring #channels_list .channel.selected {
  background: #a8a894;
}

#wiring #channels_list .channel.selected .channelContent {
  display: block;
}


