.button {
  cursor: pointer;
}

#dragboard {
  min-width: 400px;
  position: relative;
}

div.gadget_window {
  position: absolute;
  border: 1px solid blue;
  background: white;
}

div.gadget_window div.gadget_menu {
  cursor: move;
  background: #AAA;
  border: 1px solid blue;
  padding: 3px;
}

div.gadget_window div.gadget_menu div.button {
  display: inline;
  margin: 0 3px;
  border: 1px solid blue;
  background: #DDD;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

#dragboardcursor {
  position:absolute;
  border: 3px dashed #AAA;
  z-index: 1;
}

#grid {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

div.cell {
  position: absolute;
  width: 30%;
  height: 15px;
  border: 1px dashed gray;
  z-indez: 0;
}