body
{
 margin:0px;
 padding:0px 20px 0px 20px;
 color:#000;
 font-size:0.8125em;
 font-family: "Trebuchet MS","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
 font-size-adjust:none;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 line-height:normal;
}

a
{
 text-decoration:none;
 color:#00688b
}

a:hover
{
 text-decoration:underline;
 color:#00688b
}

/* header ------------------------------------------------------------------------------------------ */

#header {
  width: 100%;
  height: 9%;
}

#toolbar {}

#toolbar a{}

#description {}

#description p {}

/* gadgets ------------------------------------------------------------------------------------------ */

#gadgets {
}

#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
	padding:0;
}

#gadgets .gadget .toolbar{
	margin-top:0;
	background-color:#E5ECF9;
	height:30px;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	margin:0;
	color:#36C;
	padding:5px;
	font-size:120%;
	float:left;
}

#gadgets .gadget .toolbar a {
	float:right;
	margin-right:2%;
	margin-top:10px;
}
#gadgets .gadget .toolbar a img {}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	width:90%; 
	margin-left:5%; 
	margin-right:5%;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences input{
	width:100%; 
}

#gadgets .gadget .preferences td{
	text-align:left;
}

#gadgets .gadget .preferences fieldset{
	border:none;
}

#gadgets .gadget .main{
	padding:1%;
}
#gadgets .gadget .main h4{
	margin-top:1%;
	border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
	border:1px dotted #dfdfdf;
}
#gadgets .gadget .main th{

}
#gadgets .gadget .main td{

}
#gadgets .gadget .main img{
	width:120px;
	height:60px;
	margin-bottom: 1%;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  position: relative;
  width: 100%;
  height: 90%;
}

.container {
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  background: #FFF;
}

.container_header {
  position: relative;
  width:100%;
  height:4%;
}

/* dragboard ---------------------------------------------------------------------------------------- */

#dragboard_container {
  border: solid green 1px
}

#dragboard {
  position:relative;
  width:100%;
  height:93%
}

/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  border: solid red 1px;
}

#showcase {
  position:relative;
  width:100%;
  height:93%;
  overflow:auto;
}

/* wiring ------------------------------------------------------------------------------------------ */

#wiring_container {
  border: solid grey 1px;
}

#wiring {
	position: relative;
	min-width: 800px;
}

#wiring .left{
	position: relative;
	left: 0%;
	width: 25%;
	min-width: 100px;
}

#wiring .container {
	position: absolute;
	top: 0px;
	/*left: 26%;*/
	width: 50%;
	min-width: 600px;
	margin-left: 25%;
	margin-right: 200px;
}

#wiring .container fieldset {
	width:96%;
	height: 400px;
	background-color:#AACCFF;
	border-bottom-style:outset;
	border-right-style:outset;
	border-width:3px;
}

#wiring .container fieldset#one {
	position: relative;
	top: 30%;
}

#wiring .container fieldset#two {
	position:relative;
	top: 40px;
}

#wiring .container fieldset #selector {
	position: relative;
	left: 30%;
	top: 4%;
	width: 80%;
}

#wiring .container fieldset #selector select {
	position:relative;
	left: 1%;
}

#wiring .container fieldset #view {
	position:relative;
	top: 100px;
	left: 42%;
}

#wiring .container fieldset #view #value {
	position: relative;
	width: 100px;
}

#wiring .container fieldset #view #addChannel {
	position: relative;
	top: 80px;
	left: -18%;
	height: 25px;
	width: 25px;
}

#wiring .container fieldset #view input#deleteChannel {
	position: relative;
	top: 80px;
	left: -13%;
	height: 25px;
	width: 25px;
}

#wiring .container fieldset #tab_one {
	position: relative;
	left: 15%;
	top: 65px;
	width: 155px;
	min-width: 15%;
	height: 350px;
}
#wiring .container fieldset #tab_two {
	position: relative;
	left: 70%;
	top: -285px;
	width: 155px;
	min-width: 15%;
	margin-left: 2%;
	height: 350px;
}

#wiring .container fieldset div .header {
	position:relative;
	width:150px;
	height: 16px;
	font-family:"Book Antiqua";
	font-size:smaller;
	border-style:inset;
	border-color: #FFCCCC;
	background-color:#AABBAA;
}

#wiring .container fieldset div .contents {
	position: relative;
	max-height: 210px;
	overflow:auto;
	overflow-x:hidden;
}

#wiring .container fieldset div .contents .bodier {
	position:relative;
	width:150px;
	font-family:"Book Antiqua";
	font-size:smaller;
	border-style:inset	;
	border-color: #FFCCCC;
	background-color:#99BBDD;
}

#wiring .container fieldset#two #refreshbutton {
	position:relative;
	top: 320px;
	left: 50%;
	height: 30px;
	width: 30px;
}

#wiring .right {
	position: relative;
	left: 76%;
	width: 25%;
}

/* footer ------------------------------------------------------------------------------------------ */

#footer {}

#footer p {}
