#wiring {
}

#wiring_container {
  width: 100%;
}

#wiring #channels_list {
  margin: 2ex 0px;
  padding: 0px;
}

#wiring .tableCell {
  position:relative;
  float:left;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  margin-top: 1ex;
}

#wiring .connectableColumn {
  width: 25%;
  vertical-align: top;
}

#wiring .eventColumn, #wiring .slotColumn {
  width: 20%;
  padding: 0 20px;
  vertical-align: top;
}

#wiring .connectionColumn {
  width: 20%;
  vertical-align: top;
}

#wiring .inoutColumn {
  width: 20%;
  vertical-align: top;
}

#wiring .title {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  margin-bottom: 1ex;
}

#wiring #eventColumn .title, #slotColumn .title{
  cursor:pointer;
}

#wiring .borderLeftCell {
  border-collapse: collapse;
  padding: 0 0 0 1ex;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #AAA;
  border-right: none;
}

#wiring .columnCell ul input[type="radio"] {
  display: none;
}

#wiring .columnCell ul li {
  padding: 2px;
}

#wiring .columnCell ul li div {
  padding: 2px;
}

.form-row input[type="submit"] {
  background-image: url(/ezweb/images/kgpg.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}

#wiring #newChannelForm {
    text-align: center;
}

#wiring .igadget {
  background: #F7F7F7;
  margin:3px 2px;
  position: relative;
  font-weight: bold;
  padding: 3px 3px 0px;
  color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#wiring .igadget .content {
  padding: 0px 0px 1px 0px;
  font-weight: normal;
  position: relative;
  margin: 6px 0px;
}

#wiring .eventColumn .igadget .content div {
  padding: 0px 14px 0px 0px;
  text-align: right;
}

#wiring .slotColumn .igadget .content div {
  padding: 0px 0px 0px 14px;
  text-align: left;
}

#wiring .igadget.folded .content {
  display: none;
}

#wiring .igadget .content div .anchor {
  position: absolute;
  display: inline;
  width: 24px;
  height: 24px;
  border: 0px;
  padding: 0px;
  top: -9px;
}

#wiring .eventColumn .igadget div .anchor {
  right: -24px;
  background: url(/ezweb/images/wiring/inAnchor.png);
}

#wiring .slotColumn .igadget div .anchor {
  left: -24px;
  background: url(/ezweb/images/wiring/outAnchor.png);
}

#wiring .eventColumn .igadget .anchor.checked, #wiring #channels_list .channel .outAnchor.checked {
  background: url(/ezweb/images/wiring/inAnchorInEnabled.png);
}

#wiring #channels_list .channel.selected .outAnchor.checked {
  background: url(/ezweb/images/wiring/inAnchorOutEnabled.png);
}

#wiring .slotColumn .igadget .anchor.checked, #wiring #channels_list .channel .inAnchor.checked {
  background: url(/ezweb/images/wiring/outAnchorOutEnabled.png);
}

#wiring #channels_list .channel.selected .inAnchor.checked {
  background: url(/ezweb/images/wiring/outAnchorInEnabled.png);
}

#wiring #channels_list .channel .inAnchor, #wiring #channels_list .channel .outAnchor {
  height:   24px;
  top:      0; /* TEMP */
  width:    24px;
}

#wiring #channels_list .channel .inAnchor {
  background: url(/ezweb/images/wiring/outAnchorChannel.png);
  left: -15px;
}

#wiring #channels_list .channel .outAnchor {
  background: url(/ezweb/images/wiring/inAnchorChannel.png);
  right: -15px;
}

#wiring .tab {
  border: 2px solid black;
  margin: 5px 0px;
  position: relative;
  padding: 2px;
  background: #97A0A8;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

#wiring .eventColumn .tab > .header {
  background: #97A0A8 url(/ezweb/js/wiring/tree.gif) no-repeat scroll left top;
  padding: 0px 14px 0px 0px;
  text-align: right;
}

#wiring .slotColumn .tab > .header {
  background: #97A0A8 url(/ezweb/js/wiring/tree.gif) no-repeat scroll right top;
  padding: 0px 0px 0px 14px;
  text-align: left;
}

#wiring .tab > .header {
  color:       white;
  cursor:      pointer;
  font-weight: bold;
  margin:      2px 0px;
  position:    relative;
}

#wiring .tab.empty > .header {
  background: none;
  cursor: default;
}

#wiring .tab > .header > .anchor {
  background: url(/ezweb/js/wiring/unchecked.png);
  position: absolute;
  left: -9px;
  top: -1px;
  display: inline;
  width: 18px;
  height: 18px;
  border: 0px;
  padding: 0px;
}

#wiring .tab > .header > .anchor.checked {
  background: url(/ezweb/js/wiring/checkedtab.png);
}

#wiring .igadget > .header {
  padding-left: 20px;
  cursor:pointer;
  background: url(/ezweb/js/wiring/Lminus.png) no-repeat scroll left top;
}

#wiring .igadget.folded > .header {
  background: url(/ezweb/js/wiring/Lplus.png) no-repeat scroll left top;
}


#wiring #newChannelForm .addSubmit {
  cursor: pointer; cursor: hand;
  padding: 0px;
  height: 16px;
  width: 16px;
  background: url(/ezweb/js/wiring/add.png);
  border: 0px none;
}

#wiring .newChannel, #wiring #unfold_all_link {
  cursor: pointer; cursor: hand;
  color: #2D6F9C;
  text-decoration: underline;
}

#wiring .newChannel {
  margin: 2ex 1ex;
  text-align: center;
}

#wiring #wiring_options {
  position:relative;
  float:right;
  top: 5px;
  right: 5px;
  color:#2D6F9C;
  font-size: 90%;
}

#wiring #unfold_all_link {
  display:inline;
}

#wiring #wiring_options label {
  margin-right: 20px;
}

#wiring #unfold_chkItem{
  display: inline;
  width: 15px;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

#wiring #unfold_chkItem{
  background: url(/ezweb/js/wiring/unchecked14px.png) no-repeat right bottom;
 }

#wiring #unfold_chkItem.chkItem{
  background: url(/ezweb/js/wiring/checked14px.png) no-repeat right bottom;
}

#wiring #channels_list .channel {
  margin: 20px 1ex;
  padding: 0px;
}

#wiring #channels_list .channel .channelPipe {
  border: 1px solid #2D6F9C;
  background: #97A0A8 url(/ezweb/images/wiring/pipe.png);
  cursor: pointer; cursor: hand;
  height: 22px;
  padding: 0 8px;
}

#wiring img {
  margin: 2px;
  vertical-align: middle;
}

#wiring #channels_list .channel .channelContent {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #525248;
  margin: 0 8px;
  display: none;
  background: #F7F7F7;
  padding: 0.5ex 1ex 0.5ex 1ex;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px
}

#wiring #channels_list .channel.selected .channelPipe {
  background-color: #2D6F9C;
}

#wiring #channels_list .channel.selected .channelContent, #wiring .newChannel.selected .channelContent {
  display: block;
}

#wiring #channels_list .channel.selected .channelContent .filterMenuLauncher, #wiring .newChannel.selected .channelContent .filterMenuLauncher {
	background: transparent url(/ezweb/images/ops21px.png) no-repeat scroll 0 0;
	margin-left: 5px;
	border: 0;
	cursor: pointer;
}

#wiring #channels_list .channel.selected .channelContent .column, #wiring .newChannel.selected .channelContent .column {
	vertical-align: top;
}

#wiring #channels_list .channel.selected .channelContent .column .labelContent, #wiring .newChannel.selected .channelContent .column .labelContent {
	color: #2D6F9C;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
	margin: 0px
}


#wiring #channels_list .channel.selected .channelContent .column .filterValue, #wiring .newChannel.selected .channelContent .column .filterValue {
	margin-top: -1px;
	white-space: nowrap;
}

#wiring #channels_list .channel.selected .channelContent .paramValueInput, #wiring .newChannel.selected .channelContent .paramValueInput {
	background: #E0E0E0;
	border:0px none;
	margin: 0.05ex 0ex 0.05ex 0ex;
	width:100%;
	cursor: text;
}

#wiring #wiring_messages {
  border: 1px solid orange;
  background: lightyellow;
  margin: 1ex 20px;
  padding: 1ex 2ex;
  display: none;
}

#wiring #newChannelForm .linkSubmit{
   color: blue;
   background-color:#E0E0E0;
   border-style:none;
   border-color:#FFFFFF;
   cursor: pointer;
   text-decoration: underline;
}

#wiring .newChannelInput {
   border:1px solid #4C5054;
   margin:0px 1ex;
}

#wiring .channelNameInput {
   border:0px;
   margin:0px 1ex;
   cursor:pointer;
   background: transparent;
}

#wiring .selected .channelNameInput {
	background: transparent url(/ezweb/images/fond.gif) repeat;
	cursor: text;
}

/*.canvas div div {
  z-index: 3;
}

.canvas .arrow {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 16px;
  background: transparent url(/ezweb/images/wiringArrow.png) no-repeat;
}*/

.canvas .arrow {
  stroke: #2D6F9C;
  fill:   none;
  stroke-width: 2;
  marker-end: url(#endArrow);
}

.canvas .inFromChannel {
  stroke: green;
  fill:   none;
  stroke-width: 2;
  marker-end: url(#endArrow);
}

.canvas .outToChannel {
  stroke: red;
  fill:   none;
  stroke-width: 2;
  marker-end: url(#endArrow);
}
