<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
  
  <servlet>
    <servlet-name>proxy</servlet-name>
    <servlet-class>org.morfeo.ezweb.proxy.HttpProxy</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>proxy</servlet-name>
    <url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  
</web-app>