{% load i18n %}
<div id="wiring" class="container_content">
    <div id="channel_list" style="display: block;">
    <table class="tableCell"><tr>
        <td class="columnCell">
            <div class="insTitle">{% trans "Events" %}</div>
            <ul id="events_list" class="on"></ul>

        </td><td class="columnCell borderLeftCell">
            <div class="wiresTitle">{% trans "Channels" %}</div>
            {% trans "New" %}: <input type="text" id="channel_name" name="channel_name"/>
            <input id="add_channel" type="image" src="{{ MEDIA_URL }}js/wiring/add.png" title="Create channel" alt= "Create channel" onclick="javascript:{wiringInterface.addChannel();}"/>
            <ul id="channels_list"></ul>

        </td><td class="columnCell borderLeftCell">
            <div class="outsTitle">{% trans "Slots" %}</div>
            <ul id="slots_list" class="on"></ul>

        </td></tr>
    </tr></table>

    </div>
</div>
