{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<title>EzWeb</title>
<head>
<title>{% trans "EzWeb Platform" %}</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}css/ezweb.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dragboard.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/wiring.css">
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}css/favicon.ico" />

<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>
<script type="text/javascript" language="javascript">
_URIConstants = function(){}
_URIConstants.prototype.USER = '/user/{{ user.username }}';
_URIConstants.prototype.GET_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}');
_URIConstants.prototype.GET_IGADGETS = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/');
_URIConstants.prototype.GET_GADGET = new Template ('/user/{{ user.username }}/gadgets/#{vendor}/#{name}/#{version}');
_URIConstants.prototype.GET_GADGETS = '/user/{{ user.username }}/gadgets';
_URIConstants.prototype.GET_CONTEXT = '/user/{{ user.username }}/context';
_URIConstants.prototype.GET_CONTEXT_VALUE = new Template ('/user/{{ user.username }}/context/#{concept}/value');
_URIConstants.prototype.GET_POST_RESOURCES = '/user/{{ user.username }}/catalogue/resource';
_URIConstants.prototype.GET_RESOURCES_BY_TAG = '/user/{{ user.username }}/catalogue/search/tag';
_URIConstants.prototype.GET_RESOURCES_BY_WIRING = '/user/{{ user.username }}/catalogue/search';
_URIConstants.prototype.DELETE_TAG = '/user/{{ user.username }}/catalogue/tag';
_URIConstants.prototype.POST_RESOURCE_TAGS = '/user/{{ user.username }}/catalogue/tag';
_URIConstants.prototype.GET_RESOURCES_SEARCH_GENERIC = '/user/{{ user.username }}/catalogue/search/generic';
_URIConstants.prototype.POST_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets');
_URIConstants.prototype.PROXY = '/proxy';
_URIConstants.prototype.GET_IGADGET_VARIABLES = new Template ('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables');
_URIConstants.prototype.GET_POST_GADGET_VARIABLE = new Template ('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables/#{varName}');
_URIConstants.prototype.GET_POST_CHANNEL = new Template ('/user/{{ user.username }}/channel/#{channelName}');
_URIConstants.prototype.PUT_VARIABLES = '/user/{{ user.username }}/igadgets/variables';
_URIConstants.prototype.GET_WORKSPACES = '/workspaces';
_URIConstants.prototype.GET_POST_WIRING = new Template ('/workspaces/#{id}');

var URIs = new _URIConstants();
</script>

<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/common/constants.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/lib/scriptaculous/scriptaculous.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.improvements.js"></script>


<script language="JavaScript" src="{{ MEDIA_URL }}js/common/modules.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/persistenceEngine/PersistenceEngine.js"></script>

<script language="JavaScript" src="{{ MEDIA_URL }}js/gadgetModel/XHtml.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/gadgetModel/GadgetTemplate.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/gadgetModel/Gadget.js"></script>

<script language="JavaScript" src="{{ MEDIA_URL }}js/opManager/WorkSpace.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/opManager/Tab.js"></script>

<script language="JavaScript" src="{{ MEDIA_URL }}js/opManager/OpManager.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/varManager/VariableGadget.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/varManager/VariablePlatform.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/varManager/varManager.js"></script>

<script language="JavaScript" src="{{ MEDIA_URL }}js/showcase/showcase.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/showcase/util.js"></script>

<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/contextManager/ContextManager.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/contextManager/ContextPlatform.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/contextManager/Adaptors.js"></script>

<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/dragboard/dragboard.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/dragboard/UserPref.js"></script>

<script language="JavaScript" src="{{ MEDIA_URL }}js/wiring/connectable.js"></script>
<script language="JavaScript" src="{{ MEDIA_URL }}js/wiring/wiring.js"></script>
<!--<script language="JavaScript" src="{{ MEDIA_URL }}js/wiring/wiringInterface.js"></script>-->
<script language="JavaScript" src="{{ MEDIA_URL}}js/wiring/wiringGUI.js"></script>
<!--<script language="JavaScript" src="{{ MEDIA_URL}}js/wiring/color_scheme.js"></script>-->

<script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/catalogue.css" />
		<script language="JavaScript" src="{{ MEDIA_URL }}js/lib/helpballoon/HelpBalloon.js"></script>
		<script language="JavaScript" src="{{ MEDIA_URL }}js/catalogue/UIUtils.js"></script>
		<script language="JavaScript" src="{{ MEDIA_URL }}js/catalogue/Catalogue.js"></script>
		<script language="JavaScript" src="{{ MEDIA_URL }}js/catalogue/Resource.js"></script>
		<script language="JavaScript" src="{{ MEDIA_URL }}js/catalogue/Tagger.js"></script>
		<script language="JavaScript" src="{{ MEDIA_URL }}js/catalogue/Tag.js"></script>
		<script language="JavaScript" src="{{ MEDIA_URL }}js/catalogue/HashTable.js"></script>
		<script type="text/javascript">
			window.onresize = UIUtils.setResourcesWidth;
		</script>

<!-- Initialization code -->
<script language="JavaScript">
	
	function resizeWrapper() {
		// We have to take into account the bottom margin and border widths.
		// Bottom margin = 4px
		// Border width = 2px => Top border + bottom border = 4px
		// Total 8px
		$("wrapper").setStyle({"height" : (window.innerHeight - $("header").offsetHeight - 8) + "px"});
	}
	
	function setLanguage(language) {
		var onSuccess = function() {
			window.location.reload();
		}
		
		var onError = function() {}
		
		var persistenceEngine = PersistenceEngineFactory.getInstance();
		var params = {language: language};
		persistenceEngine.send_post("/i18n/setlang/", params, this, onSuccess, onError);
		return false;
	}

	var opManager = OpManagerFactory.getInstance();
</script>


</head>

<body onload="resizeWrapper();opManager.loadEnviroment();" onresize="resizeWrapper();">

<!-- HEADER -->
<div id="header">
  <div id="greeting">{% trans "Welcome" %}, {{ user.username }}{% for lang in LANGUAGES %} | <a href="/" onclick="return setLanguage('{{ lang.0 }}')" >{{ lang.1 }}</a>{% endfor %} | <a href="/logout">{% trans "Exit" %}</a>
  </div>
  <img id="logo" src="{{ MEDIA_URL }}images/logo.gif" alt="EzWeb Logo">
  <div id="tab_section" class="tab_section">
    <div id="toolbar_section" class="toolbar_section">
    <span id="catalogue_link"  class="toolbar_unmarked" onclick="OpManagerFactory.getInstance().show_catalogue()">{% trans "Catalogue" %}</span>
    <span id="wiring_link" class="toolbar_unmarked" onclick="OpManagerFactory.getInstance().show_wiring();">{% trans "Wires" %}</span>
    <span id="logs_link" class="toolbar_unmarked" onclick="OpManagerFactory.getInstance().show_logs();">Logs</span>
  </div>
  </div>
</div>

<div id="wrapper">
  <!-- DRAGBOARD LAYER -->
  <div id="dragboard_template">
  	<div id="dragboard_template" class="container">
    	<div class="container_content">
    	</div>
    </div>
  </div>
  <!-- SHOWCASE LAYER -->
  
  <!-- WIRING LAYER -->
  <div id="wiring" class="container">
      {% include "wiring.html" %}
  </div>
  <!-- WIRING LAYER -->
  
  <!-- SHOWCASE LAYER -->
  <div id="showcase_container" class="container">
     {% include "showcase.html" %}
  </div>
  <!-- SHOWCASE LAYER -->

  <!-- LOGS LAYER -->
  <div id="logs_container" class="container">
    <div id="logs_console" class="container_content">
    </div>
  </div>
  <!-- LOGS LAYER -->
</div>
</body>

</html>
