{% load i18n %}
  <div id="wiring_messages"></div>
  <table class="tableCell"><tr>
      <td class="eventColumn">
          <div class="title"><img src="/ezweb/images/go-last.png" alt="" />{% trans "Events" %}</div>
          <div id="events_list"></div>
      </td>

      <td class="connectionColumn"></td>

      <td class="inoutColumn">
          <div class="title"><img src="/ezweb/images/connect_creating.png" alt="" />{% trans "Channels" %}</div>
          <form id="newChannelForm">
            <label>{% trans "New" %}: <input type="text" id="channel_name" name="channel_name"/></label>
            <input type="submit" class="addSubmit" title='{% trans "Create channel" %}' alt='{% trans "Create channel" %}' value=""/>
          </form>
          <div id="channels_list"></div>
      </td>

      <td class="connectionColumn"></td>

      <td class="slotColumn">
          <div class="title"><img src="/ezweb/images/go-first.png" alt="" />{% trans "Slots" %}</div>
          <div id="slots_list"></div>

      </td></tr>
  </tr></table>
