server.modules += ( "mod_fastcgi" )
server.modules += ( "mod_rewrite" )
$SERVER["socket"] == "0.0.0.0@PORT@" {
  $HTTP["host"] == "@SERVER_NAME@" {
    server.document-root = "@DOCUMENT_ROOT@"

    fastcgi.server = (
        "/@CONF_NAME@.fcgi" => (
            "main" => (
                "socket" => "/var/run/ezweb-platform/@CONF_NAME@.socket",
                "check-local" => "disable",
            )
        ),
    )

    alias.url = (
        "/media/" => "/usr/share/python-support/python-django/django/contrib/admin/media/",
    )

    url.rewrite-once = (
        "^(/resources(|/.*))$" => "$1",
        "^(/media(|/.*))$" => "$1",
        "^/favicon\.ico$" => "/media/favicon.ico",
        "^(/.*)$" => "/@CONF_NAME@.fcgi$1",
    )

    server.errorlog            = "@LOG_BASE_PATH@/error.log"
    accesslog.filename         = "@LOG_BASE_PATH@/access.log"
  }
}
