#catalogue a
{
	text-decoration:none;
}

#catalogue a:hover
{
	text-decoration:underline;
}

#catalogue .head{
	position:relative;
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	background: #e6f3ff;
	background: url("/ezweb/images/search_fond.gif") repeat-x bottom left;
	height: 45px; // workaround
}

#catalogue .head .search
{
	height:auto;
	text-align:left;
	margin-top:10px;
	width:45%;
	float:left;
}

#catalogue .head .search form
{
	margin:0px;
	padding-left:10px;
}


#catalogue .head .search .advanced_search_top
{
	float:left;
	display:block;
	height:45px;
	width:100%;
}

#catalogue .head .search .advanced_search_bottom
{
	float:left;
	display:block;
	height:100%;
	width:100%;
}

#catalogue .head .search .simple_search
{
	float:left;
	display:block;
	height:45px;
	width:100%;
	padding-left:20px; 
}

#catalogue .head .new_resource a
{
	cursor:pointer;
}

#catalogue .head .search form *
{
	margin-left:0px;
	margin-right:10px;
}

#catalogue .head .search form a
{
	font-size:11px;
}

#catalogue .center{
	width:100%;
	height:100%;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	background: #FFF;
	border-top: 1px solid #efefef;
}

#catalogue .center .orderby {
    margin-top:1em;
    margin-bottom:1em;
	vertical-align:middle;
}

#catalogue .center .paginate img{
    border-style:none;	
}

#catalogue .center .paginate .results_per_page{
    margin-top:1em;
    margin-bottom:1em;
    vertical-align:middle;
}

#catalogue .center .resources
{
	height:100%;
	width:100%;
	float:left;
	padding-top:10px;
}

#catalogue .center .resources .resource
{
	position:relative;
	display:inline;
	float:left;
	width:192px;
	height:202px;
	margin-left:10px;
	margin-top:10px;
	background:none;
	text-align:center;
}

#catalogue .center .resources .resource .top 
{
	position: absolute;
	display: block;
	width: 192px;
	height: 7px;
	padding: 0px;
    margin: 0px;
	top:-5px;
	background: url(../images/resource-left-top.png) no-repeat top right;
}

#catalogue .center .resources .resource .bottom 
{
	position: relative;
	display: block;
	width: 192px;
	height: 11px;
	padding: 0px;
	bottom: 5px;
	background: url("/ezweb/images/resource-left-bottom.gif") no-repeat bottom right;
}

#catalogue .center .resources .resource .toolbar
{
	display:block;
	width: 192px;
	height: 22px;
	padding: 0px;
    margin: 0px;
	text-align:right;
	background: url(../images/resource-left-header.png) no-repeat bottom right;
}

#catalogue .center .resources .resource .toolbar a
{
	display:inline;
	padding-right:8px;
	padding-top:3px;
	border:none;
	width:18px;
}

#catalogue .center .resources .resource .toolbar a *
{
	margin-top:3px;
	border:none;
}

#catalogue .center .resources .resource .toolbar .description
{
	display:inline;
	margin-top:3px;
	margin-right:3px;
	border:none;
}

#catalogue .center .resources .resource .content
{
	padding-top:5px;
	padding-bottom:5px;
	display:block;
	width:192px;
	height:154px;
    margin: 0px;
	background: url("/ezweb/images/resource-left-fill.gif") repeat-y top right;
	text-align:center;
	color:#000000;
}

#catalogue .center .resources .resource .content .title
{
	overflow:hidden;
	font-size:12px;
	font-weight:bold;
	height:20px;
}

#catalogue .center .resources .resource .content .image
{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	width:100%;
	height:80px;
}

#catalogue .center .resources .resource .content .image img
{
	padding-right:3px;
	width:170px;
	height:80px;
	border:none;
}

#catalogue .center .resources .resource .content .tags
{
	position:relative;
	padding-right:10px;
	display:block;
	margin-bottom:5px;
	text-align:center;
	width:100%;
	height:18px;
}

#catalogue .center .resources .resource .content .tags .important_tags
{
	position:absolute;
	text-align:center;
	display:block;
	width:147px;
	height:15px;
	left:10px;
	overflow:hidden;
	font-size:11px;
}

#catalogue .center .resources .resource .content .tags .important_tags *
{
	color:blue;
}

#catalogue .center .resources .resource .content .tags .more_tags
{
	position:absolute;
	display:block;
	width:23px;
	left:157px;
	text-align:right;
	height:18px;
}

#catalogue .center .resources .resource .content .tags .more_tags img
{
	border:none;
}
#catalogue .center .resources .resource .content button{
	background: url("/ezweb/images/button.gif") top left;
	color:white;
	border:none;
	font-size:100%;
}

.description_balloon
{
	color:#666666;
}

 .tag_type_1
{
	font-size:11px;
	color:#7673fe;
}

 .tag_type_2
{
	font-size:14px;
	color:#4f4afd;
}

 .tag_type_3
{
	font-size:17px;
	color:#2a25ff;
}

 .tag_type_4
{
	font-size:20px;
	color:#0600ff;
}

#catalogue .center .tab_info_resource
{
	text-align:right;
	margin-top:150px;
	width:21px;
	height:100%;
	float:right;
}

#catalogue .center .tab_info_resource img
{
	border:none;
}

#catalogue .center .info_resource
{
	position:relative;
	width:400px;
	height:750px;
	float:right;
	margin:0px;
	text-align:center;
}

#catalogue .center .info_resource .top 
{
	display: block;
	width: 400px;
	height: 7px;
	padding: 0px;
    margin: 0px;
	background: url(../images/info-resource-right-top.png) no-repeat top right;
}

#catalogue .center .info_resource .bottom 
{
	position: absolute;
	display: block;
	width: 400px;
	height: 11px;
	padding: 0px;
	left:0px;
	top: 733px;
	background: url(../images/info-resource-right-bottom.png) no-repeat bottom right;
}

#catalogue .center .info_resource .content
{
	position:absolute;
	left:0px;
	top:7px;
	width:400px;
	height:732px;
	float:right;
	margin:0px;
	display:block;
	background: url(../images/info-resource-right-fill.png) repeat-y top right;
	text-align:center;
}

#catalogue .center .info_resource .content .title_fieldset
{
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
}

#catalogue .center .info_resource .content .fieldset
{
	border:1px solid #bbbbbb;
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:12px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	padding-right:5px;
}

#catalogue .center .info_resource .content .title
{
	display:inline;
	vertical-align:text-bottom;
}

#catalogue .center .info_resource .content .name
{
	display:inline;
	font-weight:bold;
	font-size:25px;
}

#catalogue .center .info_resource .content .version
{
	padding-left:5px;
	display:inline;
	font-weight:bold;
	font-size:18px;
}

#catalogue .center .info_resource .content .vendor
{
	display:block;
	font-style:italic;
	font-size:18px;
	width:100%;
}

#catalogue .center .info_resource .content .image
{
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	width:100%;
	height:100px;
}

#catalogue .center .info_resource .content .image img
{
	width:210px;
	height:100px;
}

#catalogue .center .info_resource .content .description
{
	margin-top:15px;
	display:block;
	font-size:12px;
	width:100%;
}

#catalogue .center .info_resource .content .description .text
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:80px;
}

#catalogue .center .info_resource .content .tagcloud
{
	margin-top:15px;
	margin-bottom:10px;
	display:block;
	font-size:12px;
	width:100%;
}

#catalogue .center .info_resource .content .tagcloud .tags
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	background-color:#ddeeff;
	height:80px;
}

.multiple_size_tag
{
	display:inline;
	margin-right:5px;
}

.multiple_size_tag *
{
	vertical-align:text-bottom;
}

#catalogue .center .info_resource .content .new_tags
{
	display:block;
	margin-bottom:10px;
}

#catalogue .center .info_resource .content .new_tags .my_tags
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	margin-bottom:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:50px;
}

#catalogue .center .info_resource .content .new_tags .tag_alert {
display:none;
margin:5px 0pt 0pt 15px;
background:transparent url(/ezweb/images/ico_error_mini.gif) no-repeat scroll 0%;
color:#CE440E;
font-family:Arial,Helvetica,sans-serif;
font-size:0.8em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin-left:14px;
padding-left:17px;
}

#catalogue .center .info_resource .content .new_tags .buttons
{
	text-align:right;
}

#catalogue .center .info_resource .content .new_tags .my_tags *
{
	display:inline;;
}

#catalogue .center .info_resource .content .new_tags .my_tags .new_tag
{
	white-space:nowrap;
	margin-right:8px;
}

#catalogue .center .info_resource .content .new_tags .my_tags .new_tag img
{
	margin-left:2px;
	border:none;
}

#catalogue .center .info_resource .content .new_tags .my_tags .new_tag div a
{
	padding-bottom:6px;
}

#catalogue .center .info_resource .content .new_tags .my_tags .new_tag a:hover
{
	text-decoration:underline;
}

#catalogue .center .info_resource .content .new_tags .my_tags .new_tag *
{
	vertical-align:middle;
}

#catalogue .center .info_resource .content .new_tags .my_tags .new_tag_text input
{
	border:1px solid #bbbbbb;
}

#catalogue .center .info_resource .content .link
{
	display:block;
	color:#0000ff;
	font-size:12px;
	width:100%;
}
