Source: ezweb-platform
Section: web
Priority: optional
Maintainer: Alvaro Polo Valdenebro <apv@tid.es>
Uploaders: Álvaro Arranz García <aarranz@pegaso.ls.fi.upm.es>
Build-Depends: debhelper (>= 5.0.37.2), dpatch
Build-Depends-Indep: debconf, po-debconf, lsb-release
Homepage: http://ezweb.morfeo-project.org/
XS-Vcs-Svn: https://svn.forge.morfeo-project.org/svn/ezwebplatform/debian_package
XS-Vcs-Browser: http://trac.morfeo-project.org/trac/ezwebplatform/browser/debian_package
Standards-Version: 3.8.0

Package: ezweb-platform
Section: web
Priority: optional
Architecture: all
Depends: ezweb-platform-postgres (= ${binary:Version}) | ezweb-platform-database-backend, ezweb-platform-apache2-mod-python (= ${binary:Version}) | ezweb-platform-server-backend, ezweb-platform-common (= ${binary:Version})
Recommends: ezweb-platform-postgres (= ${binary:Version}) | ezweb-platform-mysql (= ${binary:Version}) | ezweb-platform-sqlite3 (= ${binary:Version}), ezweb-platform-apache2-mod-python (= ${binary:Version}) | ezweb-platform-apache2-fastcgi (= ${binary:Version}) | ezweb-platform-lighttpd-fastcgi (= ${binary:Version})
Description: Web mashup platform - metapackage
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This meta-package installs a functional EzWeb environment.

Package: ezweb-platform-common
Section: web
Priority: optional
Architecture: all
Pre-Depends: debconf
Depends: python-configobj, python (>= 2.4), python-xml, python-django (>=1.0)
Description: Web mashup platform - shared files
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for the EzWeb Platform.

Package: ezweb-platform-fastcgi-common
Section: web
Priority: optional
Architecture: all
Depends: ezweb-platform-common (= ${binary:Version})
Suggests: ezweb-platform-apache2-fastcgi, ezweb-platform-lighttpd-fastcgi
Description: Fastcgi support for EzWeb Platform - shared files
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for supporting EzWeb Platform instances
 using fastcgi.

Package: ezweb-platform-apache2-common
Section: web
Priority: optional
Architecture: all
Depends: debconf, apache2 (>= 2.0), ezweb-platform-common (= ${binary:Version})
Suggests: ezweb-platform-apache2-mod-python | ezweb-platform-apache2-fastcgi
Description: Apache2 support for EzWeb Platform - shared files
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for supporting EzWeb Platform instances
 using apache2. However, there are several ways to connect EzWeb Platform
 instances to apache2, and this package does *not* provide support for any of
 they. For this, you need to install one of the ezweb-platform-apache2-*
 packages. For example ezweb-platform-apache2-mod-python.

Package: ezweb-platform-apache2-mod-python
Section: web
Priority: optional
Architecture: all
Depends: debconf, python (>= 2.4), libapache2-mod-python, ezweb-platform-apache2-common (= ${binary:Version})
Provides: ezweb-platform-server-backend
Description: Apache2 using mod-python support for EzWeb Platform
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides support for managing EzWeb Platform instances
 using apache2 and mod-python.

Package: ezweb-platform-apache2-fastcgi
Section: web
Priority: optional
Architecture: all
Depends: debconf, python (>= 2.4), python-flup, libapache2-mod-fastcgi | libapache2-mod-fcgid, ezweb-platform-apache2-common (= ${binary:Version}), ezweb-platform-fastcgi-common (= ${binary:Version})
Provides: ezweb-platform-server-backend
Description: Apache2 using fastcgi support for EzWeb Platform
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides support for managing EzWeb Platform instances
 using apache2 and fastcgi.

Package: ezweb-platform-lighttpd-common
Section: web
Priority: optional
Architecture: all
Depends: debconf, lighttpd, ezweb-platform-common (= ${binary:Version})
Recommends: ezweb-platform-lighttpd-fastcgi
Description: Lighttpd support for EzWeb Platform - shared files
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for supporting EzWeb Platform instances
 using lighttpd. However, there are several ways to connect EzWeb Platform
 instances to lighttpd, and this package does *not* provide support for any of
 they. For this, you need to install one of the ezweb-platform-lighttpd-*
 packages. For example ezweb-platform-lighttpd-fastcgi.

Package: ezweb-platform-lighttpd-fastcgi
Section: web
Priority: optional
Architecture: all
Depends: debconf, ezweb-platform-lighttpd-common (= ${binary:Version}), ezweb-platform-fastcgi-common (= ${binary:Version})
Provides: ezweb-platform-server-backend
Description: Lighttpd using fastcgi support for EzWeb Platform
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides support for managing EzWeb Platform instances
 using lighttpd and fastcgi.

Package: ezweb-platform-postgres
Section: web
Priority: optional
Architecture: all
Depends: debconf, python-psycopg2, ezweb-platform-common (= ${binary:Version})
Recommends: postgresql | postgresql-7.4 | postgresql-8.3
Provides: ezweb-platform-database-backend
Description: PostgreSQL suport for EzWeb Platform
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for supporting EzWeb Platform instances
 using PostgresSQL as DBMS.

Package: ezweb-platform-mysql
Section: web
Priority: optional
Architecture: all
Depends: debconf, python-mysqldb, ezweb-platform-common (= ${binary:Version})
Recommends: mysql-server | mysql-server-5.0 | mysql-server-5.1
Provides: ezweb-platform-database-backend
Description: MySQL suport for EzWeb Platform
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for supporting EzWeb Platform instances
 using MySQL as DBMS.

Package: ezweb-platform-sqlite3
Section: web
Priority: optional
Architecture: all
Depends: debconf, python-pysqlite2, ezweb-platform-common (= ${binary:Version})
Provides: ezweb-platform-database-backend
Description: SQLite3 suport for EzWeb Platform
 EzWeb Platform, the MORFEO Open Source Community Mashup Platform, provides you
 a framework for building modern enterprise and personal mashups following the
 main Web 2.0 ideas.
 .
 This package provides common files for supporting EzWeb Platform instances
 using SQLite3 as database engine.
