#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule

# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get ezweb-platform-common/abortupgrade
  if [ $CONFIGURED = true -a $RET = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then
  EZWEB_ADMIN_SCRIPT="update-ezweb-platform"

  if [ -x "$EZWEB_ADMIN_SCRIPT" -a -f "/etc/ezweb-platform/lighttpd.conf" ]; then
    # Get previous configuration
    RET=`$EZWEB_ADMIN_SCRIPT getserverdefaults lighttpd default`
    eval $RET

    db_set ezweb-platform-lighttpd-common/defaultservername "$SERVER_NAME"
    db_set ezweb-platform-lighttpd-common/defaultserverport "$SERVER_PORT"
  else
    # Establish the defaults values
    db_set ezweb-platform-lighttpd-common/defaultservername `hostname -f`
    db_set ezweb-platform-lighttpd-common/defaultserverport "8001"
  fi

  ###
  # Read lighttpd config from user
  #

  db_input high ezweb-platform-lighttpd-common/defaultservername || true
  db_go || true

  db_input high ezweb-platform-lighttpd-common/defaultserverport || true
  db_go || true
fi

#DEBHELPER#

exit 0
