#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule


# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get shared/ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get shared/ezweb-platform-common/abortupgrade
  if [ "$CONFIGURED" = true -a "$RET" = true ]; then
    exit 0
  fi
fi

EZWEB_ADMIN_SCRIPT="update-ezweb-platform"

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then
  if [ -x "$EZWEB_ADMIN_SCRIPT" -a -f "/etc/ezweb-platform/mysql.conf" ]; then
    RET=`$EZWEB_ADMIN_SCRIPT getdbmsdefaults mysql default`
    eval $RET

    db_set ezweb-platform-mysql/serveraddress "$SERVER_HOST"
    db_set ezweb-platform-mysql/adminuser "$ADMIN_USER"
    db_set ezweb-platform-mysql/adminpass "$ADMIN_PASS"
  else
    if [ -x "/usr/sbin/mysqld" ]; then
      db_set ezweb-platform-mysql/serveraddress "localhost"
    else
      FORCE_SERVER_QUESTION=1
    fi

    db_set ezweb-platform-mysql/adminuser "root"
  fi

  ###
  # Read mysql config from user
  #
  if [ "$FORCE_SERVER_QUESTION" == 1 ]; then
    db_input high ezweb-platform-mysql/serveraddress || true
  else
    db_input low ezweb-platform-mysql/serveraddress || true
  fi
  db_go || true

  db_input high ezweb-platform-mysql/adminuser || true
  db_go || true

  db_input high ezweb-platform-mysql/adminpass || true
  db_go || true

  # Let user select the prefered database config
  db_metaget shared/ezweb-platform-database-config owners
  OWNERS=$RET
  db_metaget shared/ezweb-platform-database-config choices
  CHOICES=$RET

  OWNERS=`echo "$OWNERS" | sed -e 's/\(, ezweb-platform-common\|ezweb-platform-common, \)//g'`
  OWNERS=`echo "$OWNERS" | sed -e 's/ezweb-platform-//g'`
  if [ "$OWNERS" != "$CHOICES" ]; then
    db_subst shared/ezweb-platform-database-config choices $OWNERS
    db_fset shared/ezweb-platform-database-config seen false
  fi

  db_input medium shared/ezweb-platform-database-config || true
  db_go || true

fi

exit 0
