#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule


# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get ezweb-platform-common/abortupgrade
  if [ $CONFIGURED = true -a $RET = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  if [ -x "$EZWEB_ADMIN_SCRIPT" -a -f "/etc/ezweb-platform/ldap.conf" ]; then
    RET=`$EZWEB_ADMIN_SCRIPT getauthdefaults ldap default`
    eval $RET

    db_set ezweb-platform-ldap/serveraddress "$SERVER_URL"
    db_set ezweb-platform-ldap/search-dn "$SEARCH_DN"
  else
    if [ -x "/usr/sbin/slapd" ]; then
      db_set ezweb-platform-ldap/serveraddress "ldap://localhost"
      # TODO
      db_set ezweb-platform-ldap/search-dn "uid=%s,ou=people,dc=localdomain"
    else
      FORCE_SERVER_QUESTION=1
    fi
  fi

  ###
  # Read LDAP config from user
  #
  if [ "$FORCE_SERVER_QUESTION" == 1 ]; then
    db_input high ezweb-platform-ldap/serveraddress || true
  else
    db_input low ezweb-platform-ldap/serveraddress || true
  fi
  db_go || true

  db_input high ezweb-platform-ldap/search-dn || true
  db_go || true

  ###
  # Configure the instances
  #
  if [ -x "$EZWEB_ADMIN_SCRIPT" ]; then
    INSTANCES=`$EZWEB_ADMIN_SCRIPT list all --debconf`
    OLD_VAL=`$EZWEB_ADMIN_SCRIPT list auth_method ldap --debconf`
    UNASSIGNED=`$EZWEB_ADMIN_SCRIPT list no_auth_method --debconf`

    if [ "x$UNASSIGNED" != "x" ]; then

      if [ "x$OLD_VAL" != "x" ]; then
        CURRENT_VAL="$OLD_VAL, $UNASSIGNED"
      else
        CURRENT_VAL=$UNASSIGNED
      fi

      db_set ezweb-platform-ldap/instances $CURRENT_VAL
      if [ "$INSTANCES" != "default" ]; then
        db_subst ezweb-platform-ldap/instances choices $INSTANCES

        db_input high ezweb-platform-ldap/instances || true
        db_go || true
      fi
    elif [ -z "$2" ]; then
      db_set ezweb-platform-ldap/instances "default"
    fi
  fi
fi

#DEBHELPER#

exit 0
