#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule


# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get shared/ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get shared/ezweb-platform-common/abortupgrade
  if [ $CONFIGURED = true -a $RET = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  if [ -x "$EZWEB_ADMIN_SCRIPT" -a -f "/etc/ezweb-platform/ldap.conf" ]; then
    RET=`$EZWEB_ADMIN_SCRIPT getauthdefaults ldap default`
    eval $RET

    db_set ezweb-platform-ldap/serveraddress "$SERVER_URL"
    db_set ezweb-platform-ldap/search-dn "$SEARCH_DN"
  else
    if [ -x "/usr/sbin/slapd" ]; then
      db_set ezweb-platform-ldap/serveraddress "ldap://localhost"
      # TODO
      db_set ezweb-platform-ldap/search-dn "uid=%s,ou=people,dc=localdomain"
    else
      FORCE_SERVER_QUESTION=1
    fi
  fi

  ###
  # Read LDAP config from user
  #
  if [ "$FORCE_SERVER_QUESTION" == 1 ]; then
    db_input high ezweb-platform-ldap/serveraddress || true
  else
    db_input low ezweb-platform-ldap/serveraddress || true
  fi
  db_go || true

  db_input high ezweb-platform-ldap/search-dn || true
  db_go || true
fi

#DEBHELPER#

exit 0
