#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule


# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get shared/ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get shared/ezweb-platform-common/abortupgrade
  if [ $CONFIGURED = true -a $RET = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  if [ -x "$EZWEB_ADMIN_SCRIPT" -a -f "/etc/ezweb-platform/ezsteroids.conf" ]; then
    RET=`$EZWEB_ADMIN_SCRIPT getauthdefaults ezsteroids default`
    eval $RET

    db_set ezweb-platform-ezsteroids/serveraddress "$SERVER_HOST"
    db_set ezweb-platform-ezsteroids/search-dn "$ADMIN_USER"
  else

#    TODO check if ezsteroids is installed locally
#    if [ -x "/usr/sbin/slapd" ]; then
      db_set ezweb-platform-ezsteroids/serveraddress "http://localhost:8001"
#    else
#      FORCE_SERVER_QUESTION=1
#    fi
  fi

  ###
  # Read EzSteroids config from user
  #
  if [ "$FORCE_SERVER_QUESTION" == 1 ]; then
    db_input high ezweb-platform-ezsteroids/serveraddress || true
  else
    db_input low ezweb-platform-ezsteroids/serveraddress || true
  fi
  db_go || true

fi

#DEBHELPER#

exit 0
