#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule


# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get shared/ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get shared/ezweb-platform-common/abortupgrade
  if [ "$CONFIGURED" = true -a "$RET" = true ]; then
    exit 0
  fi
fi

EZWEB_ADMIN_SCRIPT="update-ezweb-platform"

# Check if we are upgrading from the old packages
if [ "$1" = "configure" -a -n "$2" ]; then

  # Upgrade from old packages
  VER=`expr match "$2" '\([0-9]*\.[0-9]*\)~svn[0-9]*'`
  #SVNREV=`expr match "$2" '[0-9]*\.[0-9]*~svn\([0-9]*\)'`
  if `dpkg --compare-versions "$VER" lt "0.4"`; then
    db_get ezweb/pg/dbuser
    if [ "$RET" != "10 ezweb/pg/dbuser doesn't exist" ]; then
      db_set ezweb-platform-postgres/olduser "$RET"
      db_get ezweb/pg/dbpasswd
      db_set ezweb-platform-postgres/oldpass "$RET"

      # Tell old-postrm script to remove the database without asking the user
      db_set ezweb/pg/remove true
      db_fset ezweb/pg/remove seen true
    fi

    db_set ezweb-platform-postgres/serveraddress "localhost"
    db_fset ezweb-platform-postgres/serveraddress seen true
    db_set ezweb-platform-postgres/adminuser "ezwebadmin"
    db_fset ezweb-platform-postgres/adminuser seen true
    db_set ezweb-platform-postgres/adminpass "ezwebpass"
    db_fset ezweb-platform-postgres/adminpass seen true
  fi
fi

#if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then
#fi

#DEBHELPER#

exit 0
