#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule

# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get shared/ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get shared/ezweb-platform-common/abortupgrade
  if [ "$CONFIGURED" = true -a "$RET" = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  # Let user select the prefered server config
  db_metaget shared/ezweb-platform-server-config owners
  OWNERS=$RET
  db_metaget shared/ezweb-platform-server-config choices
  CHOICES=$RET

  OWNERS=`echo "$OWNERS" | sed -e 's/\(, ezweb-platform-common\|ezweb-platform-common, \)//g'`
  OWNERS=`echo "$OWNERS" | sed -e 's/ezweb-platform-//g'`
  if [ "$OWNERS" != "$CHOICES" ]; then
    db_subst shared/ezweb-platform-server-config choices $OWNERS
    db_fset shared/ezweb-platform-server-config seen false
  fi

  db_input medium shared/ezweb-platform-server-config || true
  db_go || true

fi

#DEBHELPER#

exit 0
