#!/bin/bash

set -e

###
# Include debconf module
#
. /usr/share/debconf/confmodule


# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get shared/ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get shared/ezweb-platform-common/abortupgrade
  if [ "$CONFIGURED" = true -a "$RET" = true ]; then
    exit 0
  fi
fi

EZWEB_ADMIN_SCRIPT="update-ezweb-platform"

# Check if we are upgrading from the old packages
if [ "$1" = "configure" -a -n "$2" ]; then

  # Upgrade from old packages
  VER=`expr match "$2" '\([0-9]*\.[0-9]*\)~svn[0-9]*'`
  #SVNREV=`expr match "$2" '[0-9]*\.[0-9]*~svn\([0-9]*\)'`
  if `dpkg --compare-versions "$VER" lt "0.4"`; then
    db_get ezweb/pg/dbuser
    if [ "$RET" != "10 ezweb/pg/dbuser doesn't exist" ]; then
      db_set ezweb-platform-postgres/olduser "$RET"
      db_get ezweb/pg/dbpasswd
      db_set ezweb-platform-postgres/oldpass "$RET"

      # Tell old-postrm script to remove the database without asking the user
      db_set ezweb/pg/remove true
      db_fset ezweb/pg/remove seen true
    fi

    db_set ezweb-platform-postgres/serveraddress "localhost"
    db_fset ezweb-platform-postgres/serveraddress seen true
    db_set ezweb-platform-postgres/adminuser "ezwebadmin"
    db_fset ezweb-platform-postgres/adminuser seen true
    db_set ezweb-platform-postgres/adminpass "ezwebpass"
    db_fset ezweb-platform-postgres/adminpass seen true
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  # Load current config
  if [ -x "$EZWEB_ADMIN_SCRIPT" -a -f "/etc/ezweb-platform/postgres.conf" ]; then
    RET=`$EZWEB_ADMIN_SCRIPT getdbmsdefaults postgres default`
    eval $RET

    db_set ezweb-platform-postgres/serveraddress "$SERVER_HOST"
    db_set ezweb-platform-postgres/adminuser "$ADMIN_USER"
    db_set ezweb-platform-postgres/adminpass "$ADMIN_PASS"
  elif [ -z "$2" ]; then
#    if [ -x "/usr/lib/postgresql/7.4/bin/postmaster" -o
#         -x "/usr/lib/postgresql/8.3/bin/postmaster" ]; then
      db_set ezweb-platform-postgres/serveraddress "localhost"

      db_set ezweb-platform-postgres/adminuser "ezwebadmin"
      db_fset ezweb-platform-postgres/adminuser seen true
      db_set ezweb-platform-postgres/adminpass "ezwebpass"
      db_fset ezweb-platform-postgres/adminpass seen true

#    else
#      FORCE_SERVER_QUESTION=1
#    fi

  fi

  ###
  # Read postgres config from user
  #
  if [ "x$FORCE_SERVER_QUESTION" != "x" ]; then
    db_fset ezweb-platform-postgres/serveraddress seen false
    db_input high ezweb-platform-postgres/serveraddress || true
  else
    db_input low ezweb-platform-postgres/serveraddress || true
  fi
  db_go || true

  db_input high ezweb-platform-postgres/adminuser || true
  db_go || true

  db_input high ezweb-platform-postgres/adminpass || true
  db_go || true

  # Let user select the prefered database config
  db_metaget shared/ezweb-platform-database-config owners
  OWNERS=$RET
  db_metaget shared/ezweb-platform-database-config choices
  CHOICES=$RET

  OWNERS=`echo "$OWNERS" | sed -e 's/\(, ezweb-platform-common\|ezweb-platform-common, \)//g'`
  OWNERS=`echo "$OWNERS" | sed -e 's/ezweb-platform-//g'`
  OWNERS=`echo "$OWNERS" | sed -e 's/pgsql/postgres/g'`
  if [ "$OWNERS" != "$CHOICES" ]; then
    db_subst shared/ezweb-platform-database-config choices $OWNERS
    db_fset shared/ezweb-platform-database-config seen false
  fi

  db_input medium shared/ezweb-platform-database-config || true
  db_go || true

fi

#DEBHELPER#

exit 0
