#!/bin/bash

###
# Include debconf module
#
. /usr/share/debconf/confmodule

# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get ezweb-platform-common/abortupgrade
  if [ $CONFIGURED = true -a $RET = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  EZWEB_ADMIN_SCRIPT=/usr/sbin/update-ezweb-platform

  if [ -x $EZWEB_ADMIN_SCRIPT ]; then
    INSTANCES=`$EZWEB_ADMIN_SCRIPT list all --debconf`
    OLD_VAL=`$EZWEB_ADMIN_SCRIPT list server apache2 connection_type fastcgi --debconf`
    UNASSIGNED=`$EZWEB_ADMIN_SCRIPT list server "" --debconf`

    if [ "x$UNASSIGNED" != "x" ]; then
      if [ "x$OLD_VAL" != "x" ]; then
        CURRENT_VAL="$OLD_VAL, $UNASSIGNED"
      else
        CURRENT_VAL=$UNASSIGNED
      fi

      db_set ezweb-platform-apache2-fastcgi/instances $CURRENT_VAL
      if [ "$INSTANCES" != "default" ]; then
        db_subst ezweb-platform-apache2-fastcgi/instances choices $INSTANCES

        db_input high ezweb-platform-apache2-fastcgi/instances || true
        db_go || true
      fi
    elif [ -z "$2" ]; then
      db_set ezweb-platform-apache2-fastcgi/instances "default"
    fi
  fi
fi

#DEBHELPER#

exit 0