#!/bin/bash

###
# Include debconf module
#
. /usr/share/debconf/confmodule

EZWEB_ADMIN_SCRIPT="/usr/sbin/update-ezweb-platform"

# Check if we are aborting
if [ "$1" = "configure" ]; then
  db_get ezweb-platform-common/configured
  CONFIGURED="$RET"
  db_get ezweb-platform-common/abortupgrade
  if [ $CONFIGURED = true -a $RET = true ]; then
    exit 0
  fi
fi

if [ "$1" = "configure" -o "$1" = "reconfigure" ]; then

  # Set the initial values if needed
  if [ -x $EZWEB_ADMIN_SCRIPT -a -f "/etc/ezweb-platform/apache2.conf" ]; then
    # Get previous configuration
    RET=`$EZWEB_ADMIN_SCRIPT getserverdefaults apache2 default`
    eval $RET

    db_set ezweb-platform-apache2-common/defaultservername "$SERVER_NAME"
    db_set ezweb-platform-apache2-common/defaultserverport "$SERVER_PORT"
  elif [ "$1" = "configure" -a -f "/usr/share/ezweb-platform/.update-server" ]; then
    # Recover settings from the old package
    db_get ezweb/hostname
    HOST="$RET"
    db_unregister ezweb/hostname
    db_set ezweb-platform-apache2-common/defaultservername $HOST
    db_set ezweb-platform-apache2-common/defaultserverport "80"
  fi

  ###
  # Read apache2 config from user
  #

  db_input high ezweb-platform-apache2-common/defaultservername
  db_go

  db_input high ezweb-platform-apache2-common/defaultserverport
  db_go
fi

#DEBHELPER#

exit 0
