#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export VER=0.3~svn1436

# Include dpatch stuff.
include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch-stamp
	touch build-stamp

clean: clean1 unpatch
clean1:
	dh_testdir
	dh_testroot
	
	rm -f debian/*.py[co]
	
	dh_clean

install: build install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	
	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdirs
	
	: ###
	: # ezweb-platform-common
	: #
	mkdir -p debian/ezweb-platform-common/usr/share/ezweb-platform
	for f in *; do \
	  if [ $$f != debian ]; then \
	    cp -a $$f debian/ezweb-platform-common/usr/share/ezweb-platform; \
	  fi; \
	done
	
	mkdir -p debian/ezweb-platform-common/usr/sbin
	cp -p debian/update-ezweb-platform debian/ezweb-platform-common/usr/sbin
	mkdir -p debian/ezweb-platform-common/var/ezweb-instances
	
	mkdir -p debian/ezweb-platform-common/usr/share/ezweb-platform/admintools/server-backends
	mkdir -p debian/ezweb-platform-common/usr/share/ezweb-platform/admintools/database-backends
	cp debian/admintools/common.py \
	   debian/ezweb-platform-common/usr/share/ezweb-platform/admintools
	echo -n > debian/ezweb-platform-common/usr/share/ezweb-platform/admintools/__init__.py
	echo -n > debian/ezweb-platform-common/usr/share/ezweb-platform/admintools/server-backends/__init__.py
	echo -n > debian/ezweb-platform-common/usr/share/ezweb-platform/admintools/database-backends/__init__.py
	
	: # Remove unwanted files
	rm -f `find debian/ezweb-platform-common -name "*.pyc"`
	rm -rf `find debian/ezweb-platform-common -name ".svn"`
	rm -rf debian/ezweb-platform-common/usr/share/ezweb-platform/media/logs
	rm -f debian/ezweb-platform-common/usr/share/ezweb-platform/config.conf
	rm -f debian/ezweb-platform-common/usr/share/ezweb-platform/rebuild_db.sh
	rm -f debian/ezweb-platform-common/usr/share/ezweb-platform/*-stamp
	rm -f debian/ezweb-platform-common/usr/share/ezweb-platform/settings.py
	
	mkdir -p debian/ezweb-platform-common/etc/ezweb-platform/sites
	cp -p debian/settings.py-template debian/ezweb-platform-common/etc/ezweb-platform
	
	mkdir -p debian/ezweb-platform-common/var/lib/ezweb-platform
	mkdir -p debian/ezweb-platform-common/var/log/ezweb-platform
	
	: ###
	: # ezweb-platform-fastcgi-common
	: #
	mkdir -p debian/ezweb-platform-fastcgi-common/var/run/ezweb-platform
	
	: ###
	: # ezweb-platform-apache2-common
	: #
	mkdir -p debian/ezweb-platform-apache2-common/usr/share/ezweb-platform/admintools/server-backends
	mkdir -p debian/ezweb-platform-apache2-common/etc/ezweb-platform/apache2-templates
	cp -p debian/admintools/server-backends/apache2 \
	      debian/ezweb-platform-apache2-common/usr/share/ezweb-platform/admintools/server-backends
	
	: ###
	: # ezweb-platform-apache2-mod-python
	: #
	mkdir -p debian/ezweb-platform-apache2-mod-python/etc/ezweb-platform/apache2-templates
	cp -p debian/apache2-templates/mod-python.vhost \
	      debian/ezweb-platform-apache2-mod-python/etc/ezweb-platform/apache2-templates
	
	: ###
	: # ezweb-platform-apache2-mod-fastcgi
	: #
	mkdir -p debian/ezweb-platform-apache2-fastcgi/etc/ezweb-platform/apache2-templates
	cp -p debian/apache2-templates/fastcgi.vhost \
	   debian/ezweb-platform-apache2-fastcgi/etc/ezweb-platform/apache2-templates
	
	: ###
	: # ezweb-platform-lighttpd-common
	: #
	mkdir -p debian/ezweb-platform-lighttpd-common/usr/share/ezweb-platform/admintools/server-backends
	mkdir -p debian/ezweb-platform-lighttpd-common/etc/ezweb-platform/lighttpd-templates
	cp -p debian/admintools/server-backends/lighttpd \
	      debian/ezweb-platform-lighttpd-common/usr/share/ezweb-platform/admintools/server-backends
	
	: ###
	: # ezweb-platform-lighttpd-fastcgi
	: #
	mkdir -p debian/ezweb-platform-lighttpd-fastcgi/etc/ezweb-platform/lighttpd-templates
	cp -p debian/lighttpd-templates/fastcgi.vhost \
	      debian/ezweb-platform-lighttpd-fastcgi/etc/ezweb-platform/lighttpd-templates
	
	: ###
	: # ezweb-platform-mysql
	: #
	mkdir -p debian/ezweb-platform-mysql/usr/share/ezweb-platform/admintools/database-backends
	cp -p debian/admintools/database-backends/mysql \
	      debian/ezweb-platform-mysql/usr/share/ezweb-platform/admintools/database-backends
	
	: ###
	: # ezweb-platform-postgres
	: #
	mkdir -p debian/ezweb-platform-postgres/usr/share/ezweb-platform/admintools/database-backends
	cp -p debian/admintools/database-backends/postgres \
	      debian/ezweb-platform-postgres/usr/share/ezweb-platform/admintools/database-backends
	
	: ###
	: # ezweb-platform-sqlite3
	: #
	mkdir -p debian/ezweb-platform-sqlite3/usr/share/ezweb-platform/admintools/database-backends
	cp -p debian/admintools/database-backends/sqlite3 \
	      debian/ezweb-platform-sqlite3/usr/share/ezweb-platform/admintools/database-backends
	
	dh_installdocs -i
	dh_installchangelogs -i
	dh_installdebconf -i
	dh_installinit -i --no-start -r --name=ezweb-platform-fastcgi -- defaults 90 10
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
# nothing to do

binary: binary-indep binary-arch

.PHONY: configure build clean binary-indep binary-arch binary install

# Local Variables:
# mode: makefile
# end:
