{% load i18n %}
<div id="wiring" class="container_content">
    <div id="channel_list" style="display: block;">
    <table class="tableCell"><tr>
        <td class="columnCell">
            {% trans "Ins list" %}:
            <ul id="events_list"></ul>

        </td><td class="columnCell">
            {% trans "New wire" %}:
            <input type="text" id="channel_name" name="channel_name"/>
            <input id="add_channel" type="image" src="{{ MEDIA_URL }}js/wiring/add.png" title="Create channel" alt= "create channel" onclick="javascript:{wI.addChannel(); opManager.restaure(); WiringFactory.getInstance().serialize();}"/>
<!--		    <input id="refreshbutton" type="image" src="{{ MEDIA_URL }}js/wiring/disk.png" title="Save data" alt="Save changes" onclick="javascript:{opManager.restaure(); WiringFactory.getInstance().serialize();}">-->
            <ul id="channels_list"></ul>

        </td><td class="columnCell">
            {% trans "Outs list" %}:
            <ul id="slots_list"></ul>

        </td></tr>
    </tr></table>
    </div>
</div>
