body
{
	margin:0px;
	padding:0px 20px 0px 20px;
	color:#000000;
	font-size:0.8125em;
	font-family: Verdana,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.main
{
	margin:0px;
	width:100%;
	padding:0px;
	float:left;
}

.head
{
	width:100%;
	height:50px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.search
{
	text-align:center;
	margin-top:10px;
}

.search form *
{
	margin-left:0px;
	margin-right:10px;
}

.search form a
{
	font-size:11px;
}

.menu
{
	width:15%;
	height:500px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.menu .title a
{
	background-color:#0000ff;
	color:#ffffff;
	border:1px solid #ffffff;
	padding:2px;
	font-weight:bold;
	padding-left:5px;
}

.menu .option a
{
	background-color:#aabbff;
	color:#000000;
	border:1px solid #ffffff;
	padding:2px;
	padding-left:20px;
}

.info_tags
{
	width:65%;
	height:100%;
	float:left;
	padding:0px;
}

.resources
{
	width:65%;
	height:100%;
	float:left;
	padding:0px;
}

.resource
{
	display:inline;
	float:left;
	width:190px;
	height:180px;
	margin:5px;
	background:none;
	text-align:center;
}

.resource .top 
{
	display: block;
	width: 192px;
	height: 7px;
	background: url(../html/images/resource-left-top.png) no-repeat top right;
}

.resource .bottom 
{
	position: relative;
	display: block;
	width: 192px;
	height: 11px;
	background: url(../html/images/resource-left-bottom.png) no-repeat bottom right;
}

.resource .toolbar
{
	display:block;
	width: 192px;
	height:23px;
	text-align:center;
	background: url(../html/images/resource-left-header.png) no-repeat bottom right;
}

.resource .content
{
	padding-top:5px;
	padding-bottom:5px;
	display:block;
	width:192px;
	height:136px;
	background: url(../html/images/resource-left-fill.png) repeat-y top right;
	text-align:center;
	color:#000000;
}

.resource .content .title
{
	overflow:hidden;
	font-size:15px;
	font-weight:bold;
	height:20px;
}

.resource .content .image
{
	display:block;
	margin-top:5px;
	margin-bottom:10px;
	text-align:center;
	width:100%;
	height:80px;
}

.resource .content .image img
{
	width:170px;
	height:80px;
	border:none;
}

.info_resource
{
	width:32%;
	height:650px;
	padding:5px;
	float:right;
	margin:0px;
	background-color:#ccddff;
	text-align:center;
}

.info_resource .title_fieldset
{
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
}

.info_resource .fieldset
{
	border:1px solid #bbbbbb;
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	padding-right:5px;
}

.info_resource .title
{
	display:inline;
	vertical-align:text-bottom;
}

.info_resource .name
{
	display:inline;
	font-weight:bold;
	font-size:25px;
}

.info_resource .version
{
	padding-left:5px;
	display:inline;
	font-weight:bold;
	font-size:18px;
}

.info_resource .vendor
{
	display:block;
	font-style:italic;
	font-size:18px;
	width:100%;
}

.info_resource .description
{
	margin-top:15px;
	display:block;
	font-size:12px;
	width:100%;
}

.info_resource .description .text
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:80px;
}

.info_resource .image
{
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	width:100%;
	height:100px;
}

.info_resource .image img
{
	width:210px;
	height:100px;
}

.info_resource .new_tags
{
	display:block;
	margin-bottom:10px;
}

.info_resource .new_tags .my_tags
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	margin-bottom:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:50px;
}

.info_resource .new_tags .buttons
{
	text-align:right;
}

.info_resource .new_tags .my_tags *
{
	display:inline;;
}

.info_resource .new_tags .my_tags .new_tag
{
	margin-right:8px;
}

.info_resource .new_tags .my_tags .new_tag img
{
	margin-left:2px;
	border:none;
}

.info_resource .new_tags .my_tags .new_tag div a
{
	padding-bottom:8px;
}

.info_resource .new_tags .my_tags .new_tag a:hover
{
	text-decoration:underline;
}

.info_resource .new_tags .my_tags .new_tag *
{
	vertical-align:middle;
}

.info_resource .new_tags .my_tags .new_tag_text input
{
	width:40px;
	border:1px solid #bbbbbb;
}

.info_resource .link
{
	display:block;
	color:#0000ff;
	font-size:12px;
	width:100%;
}