body
{
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:0.8125em;
	font-family: Verdana,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.main
{
	margin:0px;
	width:100%;
	height:100%;
	padding:0px;
	float:left;
}

.main .head
{
	width:100%;
	height:50px;
	padding:0px;
	margin:0px;
	float:left;
	background-color:#ccddff;
}

.main .head .search
{
	text-align:center;
	margin-top:10px;
}

.main .head .search form *
{
	margin-left:0px;
	margin-right:10px;
}

.main .head .search form a
{
	font-size:11px;
}

.main .center
{
	width:100%;
	height:100%;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
}

.main .center .resources
{
	height:100%;
	width:100%;
	float:left;
	padding-top:10px;
}

.main .center .resource
{
	position:relative;
	display:inline;
	float:left;
	width:192px;
	height:190px;
	margin-left:10px;
	margin-top:10px;
	background:none;
	text-align:center;
}

.main .center .resource .top 
{
	position: absolute;
	display: block;
	width: 192px;
	height: 7px;
	padding: 0px;
    margin: 0px;
	top:-5px;
	background: url(../html/images/resource-left-top.png) no-repeat top right;
}

.main .center .resource .bottom 
{
	position: relative;
	display: block;
	width: 192px;
	height: 11px;
	padding: 0px;
	bottom: 5px;
	background: url(../html/images/resource-left-bottom.png) no-repeat bottom right;
}

.main .center .resource .toolbar
{
	display:block;
	width: 192px;
	height: 23px;
	padding: 0px;
    margin: 0px;
	text-align:right;
	background: url(../html/images/resource-left-header.png) no-repeat bottom right;
}

.main .center .resource .toolbar *
{
	margin-top:3px;
	margin-right:3px;
	border:none;
}

.main .center .resource .content
{
	padding-top:5px;
	padding-bottom:5px;
	display:block;
	width:192px;
	height:149px;
    margin: 0px;
	background: url(../html/images/resource-left-fill.png) repeat-y top right;
	text-align:center;
	color:#000000;
}

.main .center .resource .content .title
{
	overflow:hidden;
	font-size:15px;
	font-weight:bold;
	height:20px;
}

.main .center .resource .content .image
{
	display:block;
	margin-top:5px;
	margin-bottom:10px;
	text-align:center;
	width:100%;
	height:80px;
}

.main .center .resource .content .image img
{
	padding-right:3px;
	width:170px;
	height:80px;
	border:none;
}

.main .center .tab_info_resource
{
	text-align:right;
	margin-top:150px;
	width:36px;
	height:100%;
	float:right;
}

.main .center .tab_info_resource img
{
	border:none;
}

.main .center .info_resource
{
	width:300px;
	height:650px;
	float:right;
	margin:0px;
	background-color:#ccddff;
	text-align:center;
}

.main .center .info_resource .title_fieldset
{
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
}

.main .center .info_resource .fieldset
{
	border:1px solid #bbbbbb;
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:5px;
	margin-right:5px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	padding-right:5px;
}

.main .center .info_resource .title
{
	display:inline;
	vertical-align:text-bottom;
}

.main .center .info_resource .name
{
	display:inline;
	font-weight:bold;
	font-size:25px;
}

.main .center .info_resource .version
{
	padding-left:5px;
	display:inline;
	font-weight:bold;
	font-size:18px;
}

.main .center .info_resource .vendor
{
	display:block;
	font-style:italic;
	font-size:18px;
	width:100%;
}

.main .center .info_resource .description
{
	margin-top:15px;
	display:block;
	font-size:12px;
	width:100%;
}

.main .center .info_resource .description .text
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:80px;
}

.main .center .info_resource .image
{
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	width:100%;
	height:100px;
}

.main .center .info_resource .image img
{
	width:210px;
	height:100px;
}

.main .center .info_resource .new_tags
{
	display:block;
	margin-bottom:10px;
}

.main .center .info_resource .new_tags .my_tags
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	margin-bottom:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:50px;
}

.main .center .info_resource .new_tags .buttons
{
	text-align:right;
}

.main .center .info_resource .new_tags .my_tags *
{
	display:inline;;
}

.main .center .info_resource .new_tags .my_tags .new_tag
{
	margin-right:8px;
}

.main .center .info_resource .new_tags .my_tags .new_tag img
{
	margin-left:2px;
	border:none;
}

.main .center .info_resource .new_tags .my_tags .new_tag div a
{
	padding-bottom:6px;
}

.main .center .info_resource .new_tags .my_tags .new_tag a:hover
{
	text-decoration:underline;
}

.main .center .info_resource .new_tags .my_tags .new_tag *
{
	vertical-align:middle;
}

.main .center .info_resource .new_tags .my_tags .new_tag_text input
{
	width:40px;
	border:1px solid #bbbbbb;
}

.main .center .info_resource .link
{
	display:block;
	color:#0000ff;
	font-size:12px;
	width:100%;
}