body
{
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:0.8125em;
	font-family: Verdana,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.main
{
	margin:0px;
	width:100%;
	height:100%;
	padding:0px;
	float:left;
}

.main .head
{
	width:100%;
	height:50px;
	padding:0px;
	margin:0px;
	float:left;
	background-color:#ccddff;
}

.main .head .search
{
	text-align:center;
	margin-top:10px;
}

.main .head .search form *
{
	margin-left:0px;
	margin-right:10px;
}

.main .head .search form a
{
	font-size:11px;
}

.main .center
{
	width:100%;
	height:100%;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
}

.main .center .resources
{
	height:100%;
	width:100%;
	float:left;
	padding-top:10px;
}

.main .center .resources .resource
{
	position:relative;
	display:inline;
	float:left;
	width:192px;
	height:195px;
	margin-left:10px;
	margin-top:10px;
	background:none;
	text-align:center;
}

.main .center .resources .resource .top 
{
	position: absolute;
	display: block;
	width: 192px;
	height: 7px;
	padding: 0px;
    margin: 0px;
	top:-5px;
	background: url(../html/images/resource-left-top.png) no-repeat top right;
}

.main .center .resources .resource .bottom 
{
	position: relative;
	display: block;
	width: 192px;
	height: 11px;
	padding: 0px;
	bottom: 5px;
	background: url(../html/images/resource-left-bottom.png) no-repeat bottom right;
}

.main .center .resources .resource .toolbar
{
	display:block;
	width: 192px;
	height: 23px;
	padding: 0px;
    margin: 0px;
	text-align:right;
	background: url(../html/images/resource-left-header.png) no-repeat bottom right;
}

.main .center .resources .resource .toolbar *
{
	margin-top:3px;
	margin-right:3px;
	border:none;
}

.main .center .resources .resource .content
{
	padding-top:5px;
	padding-bottom:5px;
	display:block;
	width:192px;
	height:154px;
    margin: 0px;
	background: url(../html/images/resource-left-fill.png) repeat-y top right;
	text-align:center;
	color:#000000;
}

.main .center .resources .resource .content .title
{
	overflow:hidden;
	font-size:15px;
	font-weight:bold;
	height:20px;
}

.main .center .resources .resource .content .image
{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	width:100%;
	height:80px;
}

.main .center .resources .resource .content .image img
{
	padding-right:3px;
	width:170px;
	height:80px;
	border:none;
}

.main .center .resources .resource .content .tags
{
	position:relative;
	padding-right:10px;
	display:block;
	margin-bottom:5px;
	text-align:center;
	width:100%;
	height:18px;
}

.main .center .resources .resource .content .tags .important_tags
{
	position:absolute;
	text-align:center;
	display:block;
	width:147px;
	height:15px;
	left:10px;
	overflow:hidden;
	font-size:11px;
}

.main .center .resources .resource .content .tags .important_tags *
{
	color:blue;
}

.main .center .resources .resource .content .tags .more_tags
{
	position:absolute;
	display:block;
	width:23px;
	left:157px;
	text-align:right;
	height:18px;
}

.main .center .resources .resource .content .tags .more_tags img
{
	border:none;
}

.main .center .tab_info_resource
{
	text-align:right;
	margin-top:150px;
	width:36px;
	height:100%;
	float:right;
}

.main .center .tab_info_resource img
{
	border:none;
}

.main .center .info_resource
{
	position:relative;
	width:400px;
	height:720px;
	float:right;
	margin:0px;
	text-align:center;
}

.main .center .info_resource .top 
{
	display: block;
	width: 400px;
	height: 7px;
	padding: 0px;
    margin: 0px;
	background: url(../html/images/info-resource-right-top.png) no-repeat top right;
}

.main .center .info_resource .bottom 
{
	position: absolute;
	display: block;
	width: 400px;
	height: 11px;
	padding: 0px;
	left:0px;
	top: 703px;
	background: url(../html/images/info-resource-right-bottom.png) no-repeat bottom right;
}

.main .center .info_resource .content
{
	position:absolute;
	left:0px;
	top:7px;
	width:400px;
	height:702px;
	float:right;
	margin:0px;
	display:block;
	background: url(../html/images/info-resource-right-fill.png) repeat-y top right;
	text-align:center;
}

.main .center .info_resource .content .title_fieldset
{
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
}

.main .center .info_resource .content .fieldset
{
	border:1px solid #bbbbbb;
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:12px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	padding-right:5px;
}

.main .center .info_resource .content .title
{
	display:inline;
	vertical-align:text-bottom;
}

.main .center .info_resource .content .name
{
	display:inline;
	font-weight:bold;
	font-size:25px;
}

.main .center .info_resource .content .version
{
	padding-left:5px;
	display:inline;
	font-weight:bold;
	font-size:18px;
}

.main .center .info_resource .content .vendor
{
	display:block;
	font-style:italic;
	font-size:18px;
	width:100%;
}

.main .center .info_resource .content .image
{
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	width:100%;
	height:100px;
}

.main .center .info_resource .content .image img
{
	width:210px;
	height:100px;
}

.main .center .info_resource .content .description
{
	margin-top:15px;
	display:block;
	font-size:12px;
	width:100%;
}

.main .center .info_resource .content .description .text
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:80px;
}

.main .center .info_resource .content .tagcloud
{
	margin-top:15px;
	margin-bottom:10px;
	display:block;
	font-size:12px;
	width:100%;
}

.main .center .info_resource .content .tagcloud .tags
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	background-color:#ddeeff;
	height:80px;
}

.main .center .info_resource .content .tagcloud .tags .tag_type_1
{
	font-size:11px;
	color:#7673fe;
}

.main .center .info_resource .content .tagcloud .tags .tag_type_2
{
	font-size:14px;
	color:#4f4afd;
}

.main .center .info_resource .content .tagcloud .tags .tag_type_3
{
	font-size:17px;
	color:#2a25ff;
}

.main .center .info_resource .content .tagcloud .tags .tag_type_4
{
	font-size:20px;
	color:#0600ff;
}

.main .center .info_resource .content .new_tags
{
	display:block;
	margin-bottom:10px;
}

.main .center .info_resource .content .new_tags .my_tags
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	margin-bottom:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ddeeff;
	height:50px;
}

.main .center .info_resource .content .new_tags .buttons
{
	text-align:right;
}

.main .center .info_resource .content .new_tags .my_tags *
{
	display:inline;;
}

.main .center .info_resource .content .new_tags .my_tags .new_tag
{
	margin-right:8px;
}

.main .center .info_resource .content .new_tags .my_tags .new_tag img
{
	margin-left:2px;
	border:none;
}

.main .center .info_resource .content .new_tags .my_tags .new_tag div a
{
	padding-bottom:6px;
}

.main .center .info_resource .content .new_tags .my_tags .new_tag a:hover
{
	text-decoration:underline;
}

.main .center .info_resource .content .new_tags .my_tags .new_tag *
{
	vertical-align:middle;
}

.main .center .info_resource .content .new_tags .my_tags .new_tag_text input
{
	width:40px;
	border:1px solid #bbbbbb;
}

.main .center .info_resource .content .link
{
	display:block;
	color:#0000ff;
	font-size:12px;
	width:100%;
}