body
{
	margin:0px;
	padding:0px 20px 0px 20px;
	color:#000000;
	font-size:0.8125em;
	font-family: Verdana,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.main
{
	margin:0px;
	width:100%;
	padding:0px;
	float:left;
}

.head
{
	width:100%;
	height:50px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.search
{
	text-align:center;
	margin-top:10px;
}

.search form *
{
	margin-left:0px;
	margin-right:10px;
}

.search form a
{
	font-size:11px;
}

.menu
{
	width:15%;
	height:500px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.menu .title a
{
	background-color:#0000ff;
	color:#ffffff;
	border:1px solid #ffffff;
	padding:2px;
	font-weight:bold;
	padding-left:5px;
}

.menu .option a
{
	background-color:#aabbff;
	color:#000000;
	border:1px solid #ffffff;
	padding:2px;
	padding-left:20px;
}

.info_tags
{
	width:65%;
	height:100%;
	float:left;
	padding:0px;
}

.resources
{
	width:65%;
	height:100%;
	float:left;
	padding:0px;
}

.resource
{
	padding:5px;
	display:inline;
	float:left;
	width:180px;
	height:165px;
	margin:5px;
	background-color:#ccddff;
	text-align:center;
	color:#000000;
}

.resource .title
{
	overflow:hidden;
	font-size:15px;
	font-weight:bold;
	height:20px;
}

.resource .image
{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	width:100%;
	height:100px;
}

.resource .image img
{
	width:90%;
	border:none;
}

.info_resource
{
	width:32%;
	height:500px;
	padding:5px;
	float:right;
	margin:0px;
	background-color:#ccddff;
	text-align:center;
}

.info_resource .title_fieldset
{
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
}

.info_resource .fieldset
{
	border:1px solid #bbbbbb;
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	padding-right:5px;
}

.info_resource .title
{
	display:inline;
	vertical-align:text-bottom;
}

.info_resource .name
{
	display:inline;
	font-weight:bold;
	font-size:25px;
}

.info_resource .version
{
	padding-left:5px;
	display:inline;
	font-weight:bold;
	font-size:18px;
}

.info_resource .vendor
{
	display:block;
	font-style:italic;
	font-size:18px;
	width:100%;
}

.info_resource .description
{
	margin-top:15px;
	display:block;
	font-size:12px;
	width:100%;
}

.info_resource .description .text
{
	border:1px solid #bbbbbb;
	margin-top:5px;
	overflow:auto;
	padding:5px;
	font-size:12px;
	background-color:#ffffff;
	color:#555555;
	height:80px;
}

.info_resource .image
{
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	width:100%;
	height:100px;
}

.info_resource .image img
{
	height:100%;
}

.info_resource .link
{
	display:block;
	color:#0000ff;
	font-size:12px;
	width:100%;
}