.main
{
	width:100%;
}

.main *
{
	display:block;
}

.menu
{
	width:15%;
	height:500px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.menu .title a
{
	text-decoration:none;
	background-color:#0000ff;
	color:#ffffff;
	border:1px solid #ffffff;
	padding:2px;
	font-weight:bold;
	padding-left:5px;
}

.menu .option a
{
	text-decoration:none;
	background-color:#aabbff;
	color:#000000;
	border:1px solid #ffffff;
	padding:2px;
	padding-left:20px;
	
}

.info_resource
{
	width:20%;
	height:500px;
	padding:5px;
	margin:5px;
	float:right;
	background-color:#ccddff;
}

.resources
{
	width:55%;
	height:100%;
	float:left;
}

.resources a
{
	text-decoration:none;
}

.resource
{
	padding:5px;
	display:inline;
	float:left;
	width:180px;
	height:130px;
	margin:5px;
	background-color:#ccddff;
}

.resource td
{
	text-align:center;
}

.resource  td.title
{
	color:black;
	font-weight:bold;
	font-style:italic;
}

img.resource_img
{
	height:100px;
	width:150px;
	border:none;
}

.info_resource *
{
	display:block;
}