body
{
 margin:0px;
 padding:0px 20px 0px 20px;
 color:#000000;
 font-size:0.8125em;
 font-family: Verdana,Helvetica,sans-serif;
 font-size-adjust:none;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 line-height:normal;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.main
{
	margin:0px;
	width:100%;
	padding:0px;
	float:left;
}

.head
{
	width:100%;
	height:150px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.menu
{
	width:15%;
	height:500px;
	padding:5px;
	margin:5px;
	float:left;
	background-color:#ccddff;
}

.menu .title a
{
	background-color:#0000ff;
	color:#ffffff;
	border:1px solid #ffffff;
	padding:2px;
	font-weight:bold;
	padding-left:5px;
}

.menu .option a
{
	background-color:#aabbff;
	color:#000000;
	border:1px solid #ffffff;
	padding:2px;
	padding-left:20px;
}

.info_resource
{
	width:32%;
	height:500px;
	padding:5px;
	float:right;
	margin:0px;
	background-color:#ccddff;
}

.resources
{
	width:65%;
	height:100%;
	float:left;
	padding:0px;
}

.resource
{
	padding:5px;
	display:inline;
	float:left;
	width:180px;
	height:160px;
	margin:5px;
	background-color:#ccddff;
}

.resource td
{
	text-align:center;
}

.resource  td.title
{
	font-weight:bold;
	font-style:italic;
}

img.resource_img
{
	height:100px;
	width:150px;
	border:none;
}

.info_resource *
{
	display:block;
}