.button {
  cursor: pointer;
}

div.gadget_window {
  position: absolute;
  border: 1px solid #4c5054;
  background: white;
}

div.gadget_window div.gadget_menu {
  cursor: move;
  border-bottom: 1px solid #4c5054;
  padding: 3px 7px;
  height: 16px;
  font-weight: bold;
  color: #FFF;
  background: #97a0a8;
}

div.gadget_window div.gadget_menu div.button {
  display: inline;
  margin: 0 0 0 5px;
  border: 1px solid #4c5054;
  padding: 0px 2px;
}

div.gadget_window div.gadget_menu div.button:hover {
  color: #000;
  background: #e6f3ff;
}

/*****
 * config_interface
 */
 
div.gadget_window div.config_interface {
  background: #DDD;
  border-bottom: 1px solid #4c5054;
  display: none;
  padding: 1ex;
}

div.config_interface form {
  margin: 0px;
  padding: 0px;
}

div.config_interface div.buttons {
//  float: right;
  margin-top: 1ex;
  position: relative;
  right: 0px;
}

div.config_interface label {
  margin: 1ex 0px;
  display: block;
}

div.config_interface input {
  margin: 0px 1ex;
}

/***
 *
 */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

#dragboardcursor {
  position:absolute;
  border: 3px dashed #AAA;
  z-index: 1;
}

#grid {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

div.cell {
  position: absolute;
  width: 30%;
  height: 15px;
  border: 1px dashed gray;
  z-indez: 0;
}