body
{
 margin:0px;
 padding: 0px 2%;
 height: 100%;
 color:#000;
 font-size:0.8125em;
 font-family: "Trebuchet MS","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
 font-size-adjust:none;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 line-height:normal;
}

a
{
 text-decoration: none;
 color:#00688b
}

a:hover
{
 text-decoration:underline;
 color:#00688b
}

/* header ------------------------------------------------------------------------------------------ */

#header {
  position: relative;
  width: 100%;
//  height: 75px;
}

#logo {
//  height: 40px;
}

#toolbar {}

#toolbar a{}

#description {}

#description p {}

#header .tab_section {
  position: absolute;
  padding-left: 10px;
  bottom: -2px;
  z-index: 3;
}

#header .tab_section .tab {
  float: right;
  border: 2px solid #4c5054;
  color: #FFF;
  background: #97a0a8;
  font-weight: bold;
  padding: 2px 9px;
  margin: 0px 0.5em;
  cursor: pointer;
}

#header .tab_section .current {
  color: #4c5054;
  background: #e6f3ff;
  border-bottom: 0px none;
  padding-bottom: 4px;
}

/* gadgets ------------------------------------------------------------------------------------------ */

#gadgets {
}

#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
	padding:0;
}

#gadgets .gadget .toolbar{
	margin-top:0;
	background-color:#E5ECF9;
	height:30px;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	margin:0;
	color:#36C;
	padding:5px;
	font-size:120%;
	float:left;
}

#gadgets .gadget .toolbar a {
	float:right;
	margin-right:2%;
	margin-top:10px;
}
#gadgets .gadget .toolbar a img {}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	width:90%; 
	margin-left:5%; 
	margin-right:5%;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences input{
	width:100%; 
}

#gadgets .gadget .preferences td{
	text-align:left;
}

#gadgets .gadget .preferences fieldset{
	border:none;
}

#gadgets .gadget .main{
	padding:1%;
}
#gadgets .gadget .main h4{
	margin-top:1%;
	border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
	border:1px dotted #dfdfdf;
}
#gadgets .gadget .main th{

}
#gadgets .gadget .main td{

}
#gadgets .gadget .main img{
	width:120px;
	height:60px;
	margin-bottom: 1%;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  position:relative;
  min-width: 600px;
  width: 100%;
  height: 88%;
  border: 2px solid #4c5054;
}

.container {
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  background: #e6f3ff;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 1;
  display: none;
}

.container_content {
  position: relative;
  top: 0;
  width:100%;
  height:100%;
}

/* dragboard ---------------------------------------------------------------------------------------- */

#dragboard_container {
  overflow-x: hidden;
  z-index: 2;
  display: block;
}

/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  overflow-x: hidden;
  background: #FFF;
}


/* wiring ------------------------------------------------------------------------------------------ */

#wiring_container {
  width: 100%;
}

#wiring .wContainer {
	position: absolute;
	top: 15px;
	width: 60%;
	min-width: 600px;
	margin-left: 20%;
	margin-right: 20%;
}

#wiring .wContainer #selector {
	position: relative;
}

#wiring .wContainer #selector select {
	position:relative;
}

#wiring .wContainer #view {
	border-style:dotted;
	position:absolute;
	top: 38%;
	/*height: 140px;*/
	width: 160px;
}

#wiring .wContainer #view #valor {
	position: relative;
}

#wiring .wContainer #view #addChannel {
	position: relative;
	height: 25px;
	width: 25px;
	margin-left: 35px;
	margin-top: 30px;	
}

#wiring .wContainer #view input#deleteChannel {
	position: relative;
	height: 25px;
	width: 25px;
	margin-left: 35px;
	margin-top: 30px;
}

#selector_panel {
	position: relative;
	width:auto;
	height: 380px;
}

#items_panel {
	position: relative;
	width:auto;
	height: 200px;
	visibility:hidden;
}
.connections_tab {
	position: absolute;
	top: 15%;
	width: 155px;
	min-width: 15%;
	height: 150px;
}
.connectables_tab {
	position: absolute;
	top: 20%;
	width: 155px;
	min-width: 15%;
	margin-left: 2%;
	height: 150px;
}

.left_tab {
	left: 5%;
	min-width: 15%;
}
.right_tab {
	left: 80%;
	min-width: 15%;
	margin-left: 2%;
}

#wiring .wContainer div .header {
	position:relative;
	width:150px;
	height: 16px;
	font-family:"Book Antiqua";
	font-size:smaller;
	border-color: #FF00CC;
	background-color:#AABBAA;
}

#wiring .wContainer div .contents {
	position: relative;
	max-height: 210px;
	overflow:auto;
	overflow-x:hidden;
}

#wiring .wContainer div .contents .bodier {
	position:relative;
	width:150px;
	font-family:"Book Antiqua";
	font-size:smaller;
	border-style:inset	;
	border-color: #FFCCCC;
	background-color:#99BBDD;
}

#wiring .wContainer #refreshbutton {
	position:relative;
	top: 100px;
	left: 50%;
	height: 30px;
	width: 30px;
}

#wiring .tableCell {
	border-collapse: collapse;
	width: 100%;	
}

#wiring .columnCell {
	width: 33%;
	vertical-align: top;
}

#wiring .columnCell ul input[type="radio"] {
	display: none;
}

/* footer ------------------------------------------------------------------------------------------ */

#footer {}

#footer p {}
